[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/vim-dadbod"]
	path = pack/plugins/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/plugins/start/vim-dadbod-ui"]
	path = pack/plugins/start/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui
[submodule "pack/plugins/start/neo-tree.nvim"]
	path = pack/plugins/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/plugins/start/mini.icons"]
	path = pack/plugins/start/mini.icons
	url = https://github.com/echasnovski/mini.icons
[submodule "pack/plugins/start/nui.nvim"]
	path = pack/plugins/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "pack/plugins/start/blink.cmp"]
	path = pack/plugins/start/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "pack/plugins/start/friendly-snippets"]
	path = pack/plugins/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "pack/plugins/start/vim-dadbod-completion"]
	path = pack/plugins/start/vim-dadbod-completion
	url = https://github.com/kristijanhusak/vim-dadbod-completion
[submodule "pack/plugins/start/nvim-treesitter-context"]
	path = pack/plugins/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "pack/plugins/start/gitsigns.nvim"]
	path = pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/plugins/start/nvim-window-picker"]
	path = pack/plugins/start/nvim-window-picker
	url = https://github.com/s1n7ax/nvim-window-picker
